footer {
  background-color: rgb(53, 53, 53);
}

.footer__copywright {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border-top: 1px solid #ffffff65;
  color: #fff;
}

.footer__copy {
  display: block;
  align-self: center;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Tektur", sans-serif;
  word-wrap: break-word;
}

.footer__companyName {
  text-transform: capitalize;
  font-size: 25px;
  display: inline;
}
