@import "https://unpkg.com/open-props";

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}

.header__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__h1 {
  display: block;
  text-align: center;
  font-size: 165px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Tektur", sans-serif;
  margin: 50px 0;
}

@media only screen and (max-width: 800px) {
  .header__h1 {
    font-size: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .header__h1 {
    font-size: 60px;
  }
}

.header__container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.span {
  width: 70%;
  color: #fff;
  padding: 30px;
  font-size: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 8px;
  font-family: "Tektur", sans-serif;
  align-self: center;
  transition: background-color, 0.8s;
}

.header__btn {
  align-self: center;
  margin: 90px 0;
  cursor: pointer;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-2);
  color: var(--gray-8);
  background: var(--gray-0);
  border: 0;
  padding: var(--size-4) var(--size-8);
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .header__btn {
    width: 200px;
    font-size: 14px;
  }
}

.header__btn:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

.header__btn:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

.header__btn:before {
  content: "";
  position: absolute;
  inset: calc(var(--size-3) * -1);
  border: var(--size-1) solid var(--gray-0);
  transform: scale(var(--border-scale, 0));
  transition: transform 0.125s;
  --angle-one: 105deg;
  --angle-two: 290deg;
  --spread-one: 30deg;
  --spread-two: 40deg;
  --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
  --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
  --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
  --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

  mask: conic-gradient(
    transparent 0 var(--start-one),
    white var(--start-one) var(--end-one),
    transparent var(--end-one) var(--start-two),
    white var(--start-two) var(--end-two),
    transparent var(--end-two)
  );

  z-index: -1;
}
